.bg-green {
    background: #149777 !important;
    color: #ffffff;
}

.post-add-btn, .post-add-btn:hover {
    width: 150px;
    color: #673500;
    background: #ffc800;
    font-weight: 600;
    border: 0;
}

.ikman-nav-link, .ikman-nav-link:hover {
    color: #ffffff;
}

.ikman-nav-gap {
    gap: 1rem;
}

