body {
    background: #f3f6f5;
    color: #424e4e;
}

.bold-text {
    font-weight: bold;
}

.color-white {
    color: white;
}

.flex {
    display: flex;
}

.ps-6rem {
    padding-left: 6rem !important;
}

.pe-6rem {
    padding-right: 6rem !important;
}

.ps-10rem {
    padding-left: 10rem !important;
}

.pe-10rem {
    padding-right: 10rem !important;
}

a {
    text-decoration: none;
    color: #424e4e;
}

a:hover {
    color: #424e4e;
}

.ikman-page-padding {
    padding: 0 10rem 0 10rem;
}

.filter-headings {
    color: #424e4e;
    font-size: 14px;
    font-weight: lighter;
}

.color-ikman {
    color: #009877;
}

.bg-ikman {
    background: #009877;
}